/* NavBar */

nav {
    box-sizing: border-box;
    padding: 20px;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 190px;
}

nav .nav-wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    font-size: 32px;
    padding: 20px;
    box-sizing: border-box;
}

.cart-button {
    display: block;
    color: black;
    text-decoration: none;
    border-radius: 30px;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 10px;
    width: 100px;
}

.cart-text {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

/* CartItem */
.cart-item-list {
    box-sizing: border-box;
    margin-top: 20px;
    padding: 20px;
}

.cart-item {
    border: 1px solid black;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 20px;
    margin: 20px;
    margin-top: 40px;
    text-align: start;
}

.cart-item .cart-item-title {
    font-weight: bold;
}

.cart-item .cart-item-details-list {
    display: flex;
}

.cart-item .cart-item-details-list .cart-detail {
    margin-top: 10px;
    margin-right: 10px;
}

.cart-item .cart-item-details-list .cart-detail .title::after {
    content: ':';
}

.cart-item .cart-item-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.cart-item .cart-item-footer .cart-item-price::before {
    content: '$';
}

.cart-item .cart-item-footer .cart-item-count {
    background: #CCC;
    display: flex;
    justify-content: space-between;
    width: 30%;
    border-radius: 30px;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 18px;
}

.cart-item .cart-item-footer .cart-item-count .subs,
.cart-item .cart-item-footer .cart-item-count .qty {
    cursor: pointer;
}

/* CartButtons */

.btn-keep,
.btn-checkout {
    display: block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    text-transform: uppercase;
}

.btn-keep {
    padding: 20px;
}

.btn-checkout {
    padding: 40px;
    font-size: 20px;
}

.btn-checkout .total {
    margin-left: 10px;
}

.btn-checkout .total::before {
    content: '$';
}
